@model IEnumerable<DemoDay.Models.ReportItems.CompanyList>
<h1>Schedule Manager</h1>

<a class="btn btn-primary" asp-action="Index" asp-controller="TimeSlots">Manage Time Slots</a>

<a class="btn btn-success" asp-action="ScheduleIndex" asp-controller="TimeSlots" asp-route-sortBy="student">View Student Schedule</a>
<a class="btn btn-success" asp-action="ScheduleIndex" asp-controller="TimeSlots" asp-route-sortBy="company">View Company Schedule</a>
<a class="btn btn-success" asp-action="ScheduleIndex" asp-controller="TimeSlots" asp-route-sortBy="timeSlot">View Master Schedule</a>



<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            var numberOfInterviews = item.InterviewSchedule.Count();
            if (item.Company != null)
            {

                <div class="card col-sm-5 m-2">

                    <h4 class=" card-header text-lg-center">@Html.DisplayFor(m => item.Company.Name)</h4>
                    <div class="card-body">
                        <p class="text-sm-center">Number of Interviews: @numberOfInterviews</p>
                        @foreach (var interview in item.InterviewSchedule)
                        {
                            var startTime = interview.TimeSlot.StartTime.ToShortTimeString();
                            var endTime = interview.TimeSlot.EndTime.ToShortTimeString();
                            <p class="font-weight-bold text-success">@Html.DisplayFor(m => interview.Ranking.Student.FirstName)</p>

                            <p class="font-weight-light">Ranking: @Html.DisplayFor(m => interview.Ranking.Rank)</p>
                            <p>@Html.DisplayFor(m => startTime) - @Html.DisplayFor(m => endTime)</p>

                        }

                    </div>
                </div>

            }
            else if (item.Student != null)
            {
                <div class="card col-sm-5 m-2">

                    <h4 class="card-header text-lg-center">@Html.DisplayFor(m => item.Student.FirstName)</h4>


                    <div class="card-body">
                        <p class="text-sm-center">Number of Interviews: @numberOfInterviews</p>
                        @foreach (var interview in item.InterviewSchedule)
                        {
                            var startTime = interview.TimeSlot.StartTime.ToShortTimeString();
                            var endTime = interview.TimeSlot.EndTime.ToShortTimeString();
                            <p class="font-weight-bold text-success">@Html.DisplayFor(m => interview.Ranking.Company.Name)</p>
                            <p class="font-weight-light">Ranking: @Html.DisplayFor(m => interview.Ranking.Rank)</p>
                            <p>@Html.DisplayFor(m => startTime) - @Html.DisplayFor(m => endTime)</p>

                        }
                    </div>


                </div>

            }
            else
            {
                <div class="card card col-sm-5 m-2">

                    @{var startTime = item.TimeSlot.StartTime.ToShortTimeString();}
                    @{var endTime = item.TimeSlot.EndTime.ToShortTimeString();}
                    <h4 class="text-lg-center card-header">@Html.DisplayFor(m => startTime) - @Html.DisplayFor(m => endTime)</h4>

                    <div class="card-body">
                        @foreach (var interview in item.InterviewSchedule)
                        {

                            <p class="font-weight-bold text-success">@Html.DisplayFor(m => interview.Ranking.Student.FirstName) + @Html.DisplayFor(m => interview.Ranking.Company.Name)</p>
                            <p class="font-weight-light">Ranking: @Html.DisplayFor(m => interview.Ranking.Rank)</p>

                        }

                    </div>

                </div>



            }
        }

    </div>
</div>

